<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818867254047-pestjhid28k6puqkc0dkucdg0uusvaa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818867254047-pestjhid28k6puqkc0dkucdg0uusvaa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAgMhpuG4y-C9UMsHIENJhFuySjhfjKfXo</string>
	<key>GCM_SENDER_ID</key>
	<string>818867254047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileappformyrestaurant.govindas</string>
	<key>PROJECT_ID</key>
	<string>govindas-31879</string>
	<key>STORAGE_BUCKET</key>
	<string>govindas-31879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818867254047:ios:94017ff1f04f72d9</string>
	<key>DATABASE_URL</key>
	<string>https://govindas-31879.firebaseio.com</string>
</dict>
</plist>