<ion-header>
  <ion-navbar color='mainTheme'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Acount</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<div class="addressAcnt">
		{{logedUser.logName}} <span (click)="profileUpdate()">EDIT</span>
	</div>
	<div class="addNameCnt">
		{{logedUser.mobile}} - {{logedUser.email}}
	</div>

	<div class="myOrders {{itm.colorcss}} animated bounceInLeft" *ngFor='let itm of catrData | slice:0:4;' (click)="goOrdetails(itm.orderId);">
		<div class="orderNumber">
			<span>{{itm.orderType}}</span><br>#{{itm.orderId}}
		</div>
		<div class="orderAmiunt">
			<span>{{itm.orderStatus}}</span><br><b [innerHTML]='appSetng.currency'></b>{{itm.payAmount}}
		</div>
		<div class="clear"></div>
	</div>

	<div class="moreOrders">
		<span (click)="moreorders()">More Orders</span>
	</div>


	<div class="ordersMenu">
		<ul>
			<li (click)='goOffers()'><img src="assets/icon/Offers.png"> Offers</li>
			<li (click)='goFav()'><img src="assets/icon/Favaurate.png"> Favourites</li>
			<!-- <li><img src="assets/icon/Favaurate.png"> Touch ID Enable <span><ion-toggle checked="true"></ion-toggle></span></li> -->
			<li (click)='goWallte()' *ngIf="appSetng.wallet=='ON'"><img src="assets/icon/wallet.png"> Wallet <span>{{logedUser.wallet}} points</span></li>
			<li (click)='logOut()'><img src="assets/icon/Logout.png"> Logout</li>
		</ul>
	</div>
</ion-content>
