page-catering {
	.heading{
		font-size: 14px;
		margin-bottom: 9px;
	}
	.description{
		font-size: 13px;
		color: #676464;
	}
	ion-footer{
		background: #171515;
		color: #FFF;
		text-align: center;
	}

	
	
}
